# This is a file for my custom aliases

STORAGEDIR=/home/john/Storage

# alias lsd to ls for ~sick icons and colors~
alias ls="lsd"

# ls based aliases
# '--color=always' for colors when passed to a pager like less
# '-h' for human readable filesizes
alias la="ls -a --color=always"
alias ll="ls -lh --color=always"
alias lla="ls -alh --color=always"
# alias tree="tree -C"

# replace "tree" with lsd in tree mode
alias tree="lsd --tree"

# use human-readable sizes for various commands
alias df="df -h"
alias du="du -h"
alias free="free -h"

# navigate to remote storage
if [ -d "$STORAGEDIR" ]; then
	alias cds="cd $STORAGEDIR"
fi
	

# make htop use tree by default
alias htop="htop -t"

alias vi="vim"

# speedometer without needing to memorize the args
alias netspeed="speedometer -r eno1 -t eno1 -i 0.25"

# Nordvpn stuff
alias ns="nordvpn status"
alias nc="nordvpn connect"
alias nd="nordvpn disconnect"
alias nke="nordvpn set killswitch enable"
alias nkd="nordvpn set killswitch disable"

#systemctl shorthand
alias sys="systemctl"
alias sc="systemctl"

#list installed figlet fonts
alias lsfig="ls /usr/share/figlet/fonts"

#search movies in a simple and quick way
alias vs="ls /home/john/Storage/Storage/Video/Movies | grep -i"

#ssh into web hosting
alias dreamhost="ssh johnaohara@jaohara.com"

#Alias to use TypeScript compiler with a more modern target
alias tscm="tsc -t 'ES2017'"

# quick access stuff for my portfolio project
alias pb="cd ~/Portfolio/Backend"
alias pf="cd ~/Portfolio/Frontend"
alias pbr="pb && npm run dev"
alias pfr="pf && npm run start"

# alias for java compiler options
alias javacx="javac -Xlint:unchecked,rawtypes"
alias javacxd="javacx -Xdoclint:all"

# alias for running android-studio from flatpak
alias android-studio="flatpak run com.google.AndroidStudio"

# alias for android studio linter
alias alint="/home/john/.android-sdks/tools/bin/lint"
